{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "ignorePatterns": ["node_modules/"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/self-closing-comp": 1,
    "no-unused-vars": 1,
    "import/prefer-default-export": 1,
    "no-console": 0,
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": false,
        "optionalDependencies": false,
        "peerDependencies": false,
        "packageDir": "./"
      }
    ]
  }
}
